@import "./variables";
@import "./normalize.scss";
@import "./reset.scss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.right-wrapper {
  position: relative;
}

.mobile-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  right: -100%;
  z-index: 110;
  background-color: $ORANGE_LIGHT;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list-item {
    color: #000;
    font-size: 28px;
    font-family: "Poppins";
    cursor: pointer;
    font-weight: 600;

    &:hover {
      color: $ORANGE;
    }
  }
}

.mobile-menu_active {
  right: 0;
}
.first-section {
  overflow: hidden;
  &__img-background {
    position: absolute;
    left: 922px;
    top: 0;
  }

  &__nav-container {
    background-color: $COFFEE_BACKGROUND;
    display: flex;
    padding: 41px 135px 0 135px;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  &__header {
  }

  &__box {
    position: relative;
    display: flex;
    gap: 142px;
  }

  &__nav-menu {
  }

  &__search-bar {
  }

  &__content-container {
    background-color: $COFFEE_BACKGROUND;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 135px;
  }

  &__title {
    font-size: 48px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    color: $BROWN;
    line-height: normal;
    margin-bottom: 24px;

    span {
      color: $ORANGE;
    }
  }

  &__text {
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 400;
    color: $GRAY_LIGHT;
    margin-bottom: 32px;
  }

  &__img-container {
    position: relative;
    width: 416px;
    height: 416px;
    border-radius: 50%;
    background-color: $BROWN;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
  }

  &__product {
    font-size: 24px;
    position: absolute;
    z-index: 10;
    left: -27px;
    top: 33px;
    &_size {
      width: 271px;
      height: 57px;
    }
  }

  &__rating {
    font-size: 24px;
    position: absolute;
    z-index: 10;
    left: 327px;
    top: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    &_size {
      width: 133px;
      height: 57px;
    }
  }

  &__price {
    font-size: 24px;
    position: absolute;
    z-index: 10;
    left: -17px;
    top: 315px;
    &_size {
      width: 155px;
      height: 57px;
    }
  }

  &__btn-container {
    display: flex;
    gap: 26px;
  }
}

.left-wrapper {
  &_size {
    max-width: 489px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    gap: 32px;
  }

  &__list-item {
    color: #000;
    font-size: 18px;
    font-family: "Poppins";
    cursor: pointer;

    &:hover {
      color: $ORANGE;
    }
  }
}

.search-bar {
  display: flex;
  gap: 24px;
  align-items: center;

  &__input {
    all: unset;
    box-sizing: border-box;
    padding-left: 32px;
    background: url("../icons/akar-icons-search.svg") no-repeat 7px white;
    max-width: 222px;
    height: 40px;
    border-radius: 35px;
    color: $GRAY_LIGHT;
    font-size: 12px;
    font-family: "Poppins";
  }

  &__logo {
    cursor: pointer;
  }
}

.label {
  border-radius: 42px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $BROWN;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(238, 240, 242, 1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(238, 240, 242, 1);
  box-shadow: 0px 0px 10px 1px rgba(238, 240, 242, 1);
}

.btn-order {
  all: unset;
  cursor: pointer;
  background-color: $BROWN;
  box-shadow: 0px 4px 32px 0px rgba(223, 195, 124, 0.25);
  border-radius: 33px;
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  padding: 12px 32px 12px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__basket {
    width: 22px;
    height: 22px;
  }
}

.btn-menu {
  all: unset;
  cursor: pointer;
  color: $ORANGE;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  padding: 10px 24px 10px 24px;
}

.basket {
  background-color: $ORANGE;
  border-radius: 50%;
  background-image: url("../icons/basket.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.second-section {
  overflow: hidden;
  margin-bottom: 300px;
  &__img-background {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__first-box {
    background-color: $COFFEE_BACKGROUND;
    height: 335px;
  }

  &__title {
    padding-left: 135px;
    margin-bottom: 38px;
    div {
      position: absolute;
      height: 4px;
      width: 65px;
      left: 266px;
      border-radius: 12px;
      background-color: $ORANGE;
    }
  }

  &__card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    background-image: url("../img/rectangle-2.svg");
    background-repeat: no-repeat;
    background-position: top 90px center;
    height: 465px;
  }
}

.title {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 600;
  position: relative;
  line-height: normal;
  letter-spacing: 1.28px;
}

.card {
  position: relative;
  z-index: 10;
  background-color: white;
  position: relative;
  width: 343px;
  height: 373px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  gap: 19px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(39, 99, 144, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(39, 99, 144, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(39, 99, 144, 0.2);

  &__text {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
    color: $GRAY;
  }

  &__rating-label {
    position: absolute;
    top: 22px;
    left: 22px;
    height: 26px;
    padding: 10px;
  }

  &__card-img {
    border-radius: 5px;
  }

  &__card-box-one {
    width: 307px;
    display: flex;
    justify-content: space-between;
    font-family: "Poppins";
    font-size: 24px;
    color: $BROWN;

    h3 {
      font-weight: 600;
    }

    p {
      font-weight: 700;
    }
  }

  &__card-box-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 307px;
  }

  &__label-box {
    display: flex;
    gap: 24px;
  }

  &__label {
    padding: 10px;
    border: 3px solid $ORANGE;
    border-radius: 5px;
    color: $ORANGE;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
  }

  &__basket {
    width: 43px;
    height: 43px;
  }
}

.third-section {
  margin-bottom: 208px;

  &__title {
    padding-left: 135px;
    margin-bottom: 38px;
    div {
      position: absolute;
      height: 4px;
      width: 115px;
      left: 452px;
      border-radius: 12px;
      background-color: $ORANGE;
    }
  }

  &__instruction-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.instruction-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 290px;
  gap: 30px;

  &__title {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
  }

  &__box-one {
    position: relative;
  }

  &__box-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__img {
  }

  &__img-cursor {
    position: absolute;
    z-index: 10;
    top: 114px;
    left: 96px;
  }
}

.fourth-section {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $COFFEE_BACKGROUND;
    height: 484px;
  }

  &__img {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(39, 99, 144, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(39, 99, 144, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(39, 99, 144, 0.2);
    border-radius: 16px;
    transform: translate(0, -45px);
  }

  &__title {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 23px;
    div {
      position: absolute;
      height: 4px;
      width: 35px;
      left: 105px;
      border-radius: 12px;
      background-color: $ORANGE;
    }
  }

  &__subtitle {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    max-width: 348px;
    margin-bottom: 16px;
    line-height: normal;
    letter-spacing: 0.96px;
  }

  &__text {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    color: $GRAY;
    max-width: 478px;
    line-height: normal;
    letter-spacing: 0.72px;
    margin-bottom: 32px;
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__btn {
    max-width: 142px;
  }
}

.five-section {
  &__container {
    padding: 120px 152px 120px 152px;
  }

  &__title {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 53px;
    div {
      position: absolute;
      height: 4px;
      width: 115px;
      left: 246px;
      top: 42px;
      border-radius: 12px;
      background-color: $ORANGE;
    }
  }

  &__cards-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 46px;
  }
}

.sixth-section {
  &__container {
    position: relative;
  }

  &__left-box {
    max-width: 945px;
    height: 484px;
    background: $COFFEE_BACKGROUND;
    border-radius: 0px 24px 24px 0px;
    display: flex;
    align-items: center;
    padding-left: 136px;
  }

  &__right-box {
  }

  &__box-one {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
  }

  &__text {
    color: $GRAY;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    max-width: 352px;
  }

  &__cards {
    position: absolute;
    top: 102px;
    left: 40%;
    display: flex;
    gap: 93px;
  }
}

.card-people {
  position: relative;
  &__img {
  }

  &__box-one {
    position: absolute;
    bottom: 23px;
    left: 30px;
    background: $ORANGE_LIGHT;
    border: 6px solid rgba(255, 211, 144, 0.62);
    border-radius: 8px;
    width: 226px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
  }

  &__title {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
  }

  &__text {
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.56px;
  }
}

.seventh-section {
  &__container {
    padding: 120px 135px 120px 135px;
  }

  &__wrapper {
    background-image: url("../img/subscribe-back.png");
    background-repeat: no-repeat;
    border-radius: 24px;
    background-size: cover;
    max-width: 1170px;
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__title {
    color: white;
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.28px;
  }

  &__input-box {
    position: relative;
  }

  &__input {
    all: unset;
    width: 484px;
    height: 54px;
    border-radius: 42px;
    background-color: white;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.64px;
    padding-left: 16px;
  }

  &__btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

@media (max-width: 1490px) {
  .sixth-section {
    &__left-box {
      max-width: none;
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
      gap: 20px;
    }

    &__box-one {
      align-items: center;
    }

    &__cards {
      position: static;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1153px) {
  .first-section {
    &__nav-container {
      padding: 41px 25px 41px 25px;
    }
    &__content-container {
      padding-left: 25px;
      padding-right: 25px;
      justify-content: start;
      gap: 40px;
    }
  }
  .five-section {
    &__cards-box {
      justify-content: center;
    }
  }
}

@media (max-width: 1130px) {
  .second-section {
    margin-bottom: 40px;
    &__first-box {
      height: auto;
    }

    &__card-container {
      height: auto;
      padding-bottom: 40px;
    }
  }
  .first-section__rating {
    left: 292px;
  }
}

@media (max-width: 991px) {
  .left-wrapper_size {
    max-width: 745px;
  }
  .right-wrapper {
    display: none;
  }
  .first-section {
    &__content-container {
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
    }
    &__box {
      gap: 20px;
    }
  }

  .seventh-section {
    &__container {
      padding: 45px 45px 45px 45px;
    }
  }

  .sixth-section {
    &__left-box {
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__cards {
      justify-content: center;
    }
  }
}

@media (max-width: 910px) {
  .second-section__title {
    padding-left: 45px;

    div {
      left: 190px;
    }
  }

  .third-section {
    margin-bottom: 0;
  }

  .third-section__title {
    padding-left: 45px;

    div {
      left: 392px;
    }
  }

  .fourth-section__img {
    display: none;
  }

  .five-section__container {
    padding: 45px;
  }
}

@media (max-width: 790px) {
  .hamburger {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 14px;
    z-index: 100;
    span {
      height: 2px;
      width: 100%;
      display: block;
      background: black;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -6px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }

  .second-section {
    overflow: hidden;
  }

  .first-section {
    &__header {
      a {
        margin-right: 100px;
      }
    }

    &__title {
      font-size: 40px;
    }

    &__text {
      font-size: 15px;
    }

    &__nav-menu {
      display: none;
    }

    &__nav-container {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px;
    }
  }

  .first-section__nav-menu {
    display: none;
  }

  .card {
    width: 309px;
    height: 309px;
    border-radius: 12px;
    gap: 3px;

    &__card-box-one {
      width: 270px;

      font-size: 19px;
    }
    &__card-box-two {
      width: 270px;
    }
    &__card-img {
      width: 270px;
    }
  }

  .third-section__title {
    padding-left: 15px;
    div {
      display: none;
    }
  }

  .fourth-section {
    &__box {
      text-align: center;
      align-items: center;
    }

    &__container {
      height: 430px;
    }

    &__text {
      font-size: 15px;
    }
  }

  .five-section__container {
    padding: 15px;
  }

  .five-section__title {
    font-size: 29px;
    margin-bottom: 25px;
    div {
      display: none;
    }
  }

  .btn-order__basket {
    width: 25px;
  }

  .sixth-section {
    &__box-one {
      padding-left: 15px;
    }
  }

  .seventh-section {
    &__container {
      padding: 19px 2px 19px 2px;
    }

    &__wrapper {
      height: 290px;
    }

    &__title {
      font-size: 30px;
      text-align: center;
    }

    &__input {
      width: 290px;
    }
  }
  .card-people__box-one {
    left: 0;
  }
}

@media (max-width: 366px) {
  .btn-order__basket {
    width: 33px;
  }
}
