@import "./variables";
@import "./normalize.scss";
@import "./reset.scss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.right-wrapper {
  position: relative;
}

.first-section {
  &__img-background {
    position: absolute;
    left: 922px;
    top: 0;
  }

  &__nav-container {
    background-color: $COFFEE_BACKGROUND;
    display: flex;
    padding: 41px 135px 0 135px;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  &__header {
  }

  &__box {
    position: relative;
    display: flex;
    gap: 142px;
  }

  &__nav-menu {
  }

  &__search-bar {
  }

  &__content-container {
    background-color: $COFFEE_BACKGROUND;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 135px;
  }

  &__title {
    font-size: 48px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    color: $BROWN;
    line-height: normal;
    margin-bottom: 24px;

    span {
      color: $ORANGE;
    }
  }

  &__text {
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 400;
    color: $GRAY;
    margin-bottom: 32px;
  }

  &__img-container {
    position: relative;
    width: 416px;
    height: 416px;
    border-radius: 50%;
    background-color: $BROWN;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
  }

  &__product {
    font-size: 24px;
    position: absolute;
    z-index: 10;
    left: -27px;
    top: 33px;
    &_size {
      width: 271px;
      height: 57px;
    }
  }

  &__rating {
    font-size: 24px;
    position: absolute;
    z-index: 10;
    left: 327px;
    top: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    &_size {
      width: 133px;
      height: 57px;
    }
  }

  &__price {
    font-size: 24px;
    position: absolute;
    z-index: 10;
    left: -17px;
    top: 315px;
    &_size {
      width: 155px;
      height: 57px;
    }
  }

  &__btn-container {
    display: flex;
    gap: 26px;
  }
}

.left-wrapper {
  &_size {
    max-width: 489px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    gap: 32px;
  }

  &__list-item {
    color: #000;
    font-size: 18px;
    font-family: "Poppins";
    cursor: pointer;

    &:hover {
      color: $ORANGE;
    }
  }
}

.search-bar {
  display: flex;
  gap: 24px;
  align-items: center;

  &__input {
    all: unset;
    box-sizing: border-box;
    padding-left: 32px;
    background: url("../icons/akar-icons-search.svg") no-repeat 7px white;
    max-width: 222px;
    height: 40px;
    border-radius: 35px;
    color: $GRAY;
    font-size: 12px;
    font-family: "Poppins";
  }

  &__logo {
    cursor: pointer;
  }
}

.label {
  border-radius: 42px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $BROWN;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
}

.btn-order {
  all: unset;
  cursor: pointer;
  background-color: $BROWN;
  box-shadow: 0px 4px 32px 0px rgba(223, 195, 124, 0.25);
  border-radius: 33px;
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  padding: 12px 32px 12px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__basket {
    width: 22px;
    height: 22px;
  }
}

.btn-menu {
  all: unset;
  cursor: pointer;
  color: $ORANGE;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  padding: 10px 24px 10px 24px;
}

.basket {
  background-color: $ORANGE;
  border-radius: 50%;
  background-image: url("../icons/basket.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.second-section {
  margin-bottom: 300px;
  &__img-background {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__first-box {
    background-color: $COFFEE_BACKGROUND;
    height: 335px;
  }

  &__title {
    padding-left: 135px;
    margin-bottom: 38px;
    div {
      position: absolute;
      height: 4px;
      width: 65px;
      left: 266px;
      border-radius: 12px;
      background-color: $ORANGE;
    }
  }

  &__card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    background-image: url("../img/rectangle-2.svg");
    background-repeat: no-repeat;
    background-position: top 90px center;
    height: 465px;
  }
}

.title {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 600;
  position: relative;
}

.card {
  position: relative;
  z-index: 10;
  background-color: white;
  position: relative;
  width: 343px;
  height: 373px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  gap: 19px;

  &__rating-label {
    position: absolute;
    top: 22px;
    left: 22px;
    height: 26px;
    padding: 10px;
  }

  &__card-img {
    border-radius: 5px;
  }

  &__card-box-one {
    width: 307px;
    display: flex;
    justify-content: space-between;
    font-family: "Poppins";
    font-size: 24px;
    color: $BROWN;

    h3 {
      font-weight: 600;
    }

    p {
      font-weight: 700;
    }
  }

  &__card-box-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 307px;
  }

  &__label-box {
    display: flex;
    gap: 24px;
  }

  &__label {
    padding: 10px;
    border: 3px solid $ORANGE;
    border-radius: 5px;
    color: $ORANGE;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
  }

  &__basket {
    width: 43px;
    height: 43px;
  }
}

.third-section {
  &__title {
    padding-left: 135px;
    margin-bottom: 38px;
    div {
      position: absolute;
      height: 4px;
      width: 115px;
      left: 452px;
      border-radius: 12px;
      background-color: $ORANGE;
    }
  }

  &__instruction-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.instruction-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 290px;
  gap: 30px;

  &__title {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
  }

  &__box-one {
    position: relative;
  }

  &__box-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__img {
  }

  &__img-cursor {
    position: absolute;
    z-index: 10;
    top: 114px;
    left: 96px;
  }
}
